version: "3.9"

networks:
  micro-net:
    driver: bridge

volumes:
  redis-data:
  kafka-data:
  zookeeper-data:

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    restart: always
    networks:
      - micro-net
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    restart: always
    networks:
      - micro-net
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    ports:
      - "9092:9092"
    volumes:
      - kafka-data:/var/lib/kafka/data

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    networks:
      - micro-net
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

  api-gateway:
    build:
      context: ./api-gateway
    container_name: api-gateway
    restart: unless-stopped
    depends_on:
      - kafka
      - auth-service
      - user-service
    env_file:
      - ./api-gateway/.env
    networks:
      - micro-net
    ports:
      - "3000:3000"
    command: ["node", "dist/main.js"]

  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    restart: unless-stopped
    depends_on:
      - kafka
    env_file:
      - ./auth-service/.env
    networks:
      - micro-net
    command: ["node", "dist/main.js"]

  user-service:
    build:
      context: ./user-service
    container_name: user-service
    restart: unless-stopped
    depends_on:
      - kafka
    env_file:
      - ./user-service/.env
    networks:
      - micro-net
    command: ["node", "dist/main.js"]

  course-service:
    build:
      context: ./course-service
    container_name: course-service
    restart: unless-stopped
    depends_on:
      - kafka
    env_file:
      - ./course-service/.env
    networks:
      - micro-net
    ports:
      - "3002:3002"
    command: ["node", "dist/main.js"]

  learning-progress-service:
    build:
      context: ./learning-progress-service
    container_name: learning-progress-service
    restart: unless-stopped
    depends_on:
      - kafka
    env_file:
      - ./learning-progress-service/.env
    networks:
      - micro-net
    command: ["node", "dist/main.js"]

  noti-service:
    build:
      context: ./noti-service
    container_name: noti-service
    restart: unless-stopped
    depends_on:
      - kafka
    env_file:
      - ./noti-service/.env
    networks:
      - micro-net
    command: ["node", "dist/main.js"]
